[submodule "0hn0/www"]
	path = 0hn0/www
	url = https://github.com/sverzegnassi/0hn0.git
[submodule "hextris/www"]
	path = hextris/www
	url = https://github.com/sverzegnassi/hextris.git
[submodule "0hn1/www"]
	path = 0hn1/www
	url = https://github.com/sverzegnassi/0hh1.git
